body {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 3.125rem;
  font-weight: 600;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 0.313rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  background-color: #231f20;
  color: #ffffff;
  transition: 0.3s ease;
  font-size: 2rem;
  height: 5rem;
}

button:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: 0.3s ease;
  color: #000000;
}

button:active {
  transform: scale(0.95);
}

nav {
  background-color: #f3f2f0;
  width: 100%;
  height: 220px;
}
nav .logo {
  padding: 2rem;
}

.appCont {
  display: flex;
  height: 1700px;
  justify-content: center;
}
.appCont .contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.appCont .contents .bottomCTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 236px;
}
.appCont .contents .bottomCTA button {
  font-size: 2.2rem;
  width: 399px;
  height: 90px;
  justify-content: center;
}
.appCont .contents .bottomCTA_Basket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 4rem 0;
  height: 236px;
  gap: 40px;
}
.appCont .contents .bottomCTA_Basket button {
  font-size: 2.2rem;
  width: 399px;
  height: 90px;
  justify-content: center;
}
.appCont .contents .bottomCTA_Basket .outline {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}
.appCont .contents .bottomCTA_Basket .outline:hover {
  background-color: #231f20;
  color: #ffffff;
  transition: 0.3s ease;
}

.contents.vending {
  padding: 0;
  width: 1080px;
}

.basketWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 6rem 4rem 0 4rem;
  background-color: #f3f2f0;
  border-radius: 0.75rem;
}

.checkoutWrapper {
  background-color: #ffffff;
  justify-content: center;
  margin: 4rem 4rem 2rem 4rem;
}

.gridCont {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  width: 750px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f2f0;
  border-radius: 1rem;
  box-shadow: 0px 4px 30px 0px rgba(108, 104, 104, 0.2);
  width: 278px;
  height: 350px;
  margin: 0 auto;
  padding: 2rem 1.25rem;
}
.card .imagePlaceholder {
  position: relative;
  background-color: #f3f2f0;
  width: 266px;
  height: 224px;
}
.card .imagePlaceholder .outOfStockOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.card .priceCTA {
  display: flex;
  flex-direction: row;
  width: 280px;
  justify-content: space-between;
  align-items: center;
}
.card .priceCTA div.quantityControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.card .priceCTA div.quantityControl button {
  width: 30px;
  height: 30px;
  padding: 1.2rem;
  justify-content: center;
}
.card .priceCTA div.quantityControl p.number {
  margin: 0 1rem;
}
.card .priceCTA button.addDefault {
  border-radius: 1.5rem;
  border: 0;
  background-color: #231f20;
  color: #ffffff;
  transition: 0.3s ease;
  font-size: 1.5rem;
  height: 3rem;
}
.card .priceCTA button.addDefault .icon {
  padding-right: 1rem;
  width: 2rem;
}
.card .priceCTA button.addDefault:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: 0.3s ease;
  color: #000000;
}
.card .priceCTA button.addDefault:hover .icon {
  filter: invert(1);
}
.card button.addDefault.outOfStock.false {
  background-color: rgba(35, 31, 32, 0.3490196078);
}
.card button.addDefault.outOfStock.false p {
  white-space: nowrap;
}

.priceCTA button.addDefault.outOfStockButton {
  background-color: rgba(35, 31, 32, 0.3490196078);
}

.priceCTA button.addDefault.outOfStockButton:active,
.priceCTA button.addDefault.outOfStockButton:hover {
  background-color: rgba(35, 31, 32, 0.3490196078);
  border: none;
  color: #f3f2f0;
  transform: none;
  transition: none;
}
.priceCTA button.addDefault.outOfStockButton:active .icon,
.priceCTA button.addDefault.outOfStockButton:hover .icon {
  filter: none;
}

div.card.outOfStock div.imagePlaceholder {
  background-color: rgba(35, 31, 32, 0.3490196078);
}

.contents .basketWrapper .cartProduct {
  border-top: 2px solid #d2d1cf;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
  margin: 0 2rem;
  justify-items: start;
  align-items: center;
}
.contents .basketWrapper .cartProduct .cartPlaceholder {
  width: 100px;
  height: 100px;
  background-color: rgba(35, 31, 32, 0.3490196078);
}
.contents .basketWrapper .cartProduct .productName {
  padding-left: 1.5rem;
}
.contents .basketWrapper .cartProduct .productPrice {
  font-family: "Open Sans", sans-serif;
}
.contents .basketWrapper .cartProduct:nth-child(3) {
  border-bottom: 2px solid #d2d1cf;
}
.contents .basketWrapper .total {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding: 0rem 4rem 6rem 0;
  align-items: flex-end;
  text-align: center;
  font-size: 2rem;
  line-height: 0.8rem;
}
.contents .basketWrapper .total .discounts {
  color: red;
  font-size: 1.25rem;
}

.contents .success1Cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2f0;
  height: 100%;
}
.contents .success1Cont .cartTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contents .success1Cont .thumbWrapper {
  display: flex;
  flex-direction: row;
}
.contents .success1Cont .thumbWrapper .thumbCont {
  padding: 1.5rem;
  position: relative;
  width: 137px;
  height: 115px;
}
.contents .success1Cont .thumbWrapper .thumbCont .numberItems {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 0px rgba(108, 104, 104, 0.2);
  border-radius: 0.313rem;
  position: absolute;
  top: 12px;
  left: 125px;
}
.contents .success1Cont .thumbWrapper .thumbCont img {
  width: auto;
  height: 90px;
}
.contents .success1Cont .thumbWrapper h3 {
  margin: 1.5rem;
}
.contents .success1Cont .feedback p {
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
}
.contents .success1Cont .stars img {
  padding: 1.5rem;
  height: 90px;
}
.contents .success1Cont .fridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f2f0;
  border-radius: 1rem;
  box-shadow: 0px 4px 30px 0px rgba(108, 104, 104, 0.2);
  background-color: #231f20;
  width: 270px;
  height: 620px;
  margin: 2rem auto;
  padding: 2.4rem 1.25rem;
}
.contents .success1Cont .fridge .fridgeWindow {
  background-color: #ffffff;
  width: 240px;
  height: 327px;
  border-radius: 1rem;
}
.contents .success1Cont .fridge .fridgeIcons {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contents .success1Cont .fridge .fridgeIcons .chevrons {
  position: absolute;
  top: 30%;
  left: 40%;
}
.contents .success1Cont .fridge .fridgeIcons .dispenser {
  position: relative;
  top: 60%;
  left: 70%;
}
.contents .success1Cont .fridge button.collect {
  margin-top: 4rem;
  font-size: 1.25rem;
  border: 2.5px solid #ffffff;
  border-radius: 0.75rem;
  background-color: #000000;
  box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.2509803922);
}
.contents .success1Cont .fridge button.collect:hover {
  color: #000000;
  background-color: #ffffff;
}/*# sourceMappingURL=styles.css.map */